name: Deploy to AWS S3

on:
  push:
    branches:
      - main  # deploy every time main branch is updated

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:${{ secrets.eu-north-1 }}  # change to your region

      - name: Sync files to S3
        run: |
          aws s3 sync . s3://sd-mart-bucket --delete --exclude ".git/*" --exclude ".github/*"
